/******************************
    == Components Colors ==
******************************/

$progress-bar: #122244;
$progress-bar-fill: #6cc7ee;
$hover: #6dcba4;
$gradient: radial-gradient( #fefefe 2%, #77d4e0 70%, #6cc7ee 40%);
$box-shadow: inset 0px 0px 5px #122244, inset 0px 3px 3px #fefefe;

/******************************
      == Fonts Colors ==
******************************/

$white-font: #fefefe;
$navy-blue-font: #122244;

/******************************
      == Breakpoints ==
******************************/

$mobile: 600px;
$tablet: 800px;
$desktop: 1024px;
